* {
  box-sizing: border-box;
}
.clearfix {
  overflow: auto;
}

body {
  background-color: rgb(255, 255, 255);
  ;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h1 { 
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-style: bold;
  font-size: 40px;
  color: black;
}

header {
  color: black;
  padding-top: 10px ;
  padding-left: 50px;
  margin-bottom: 0px;
  background-color: ;
  opacity:  ;
  position: 
  top: 120px;
  margin: 0px;
}

.social {
  position: fixed;
  float: right;
  margin-left: 75%;
  margin-top: 5%;
}

.social_item {
  padding: 5px;

}

/*#header {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0px;
    border: 1px solid green;
}

#body {
    overflow: scroll;
    height: 300px;
}
#largebody {
    height: 900px;

}*/

.uberbar    { 
  
    background: white; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index:2000; 
    width:100%;
    padding-bottom: 0px;
}

.nav {
  font-family: 'Fjalla One', sans-serif;
  font-style: bold;
  font-size: 25px;
  color: black;
  margin-left: 70%;
  position: fixed;
}

.nav_item {
margin-top: 1000px;
}

.nav_item:hover {
  color: #817F7F;
  transition: .2s;
}

.bio_pic {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.side_pic {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  display: block;
  margin: 1% 80%;
  position: relative;
}

.side_nav {
  color: #FF4F2C;
 padding-left: 10px;
 
}

.second_nav {
  font-family: 'Fjalla One', sans-serif;
  font-style: bold;
  font-size: 20px;
  overflow: hidden;
  padding-top: 0px;
  margin-left: 60%;
  position: inherit;
  z-index: 3000;
  transition: .3s;
}

.side_nav:hover {
  color: #FFA32C;
  transition: .3s;
}

.active_link {
  color: #FFA32C;
  padding-left: 10px;
  transition: .3s;
}

.active_link:hover {
  color: #FF4F2C;
  transtion: .3s;
}

.sample {
  border: 2px solid gray;
  transition: .3s;
}

.bio /*home page*/ {
  border-top: 1px solid gray;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.headline {
  font-size: 25px;
  font-style: bold ;
  margin-bottom: 200px;
}

.sub_headline {
  color: #757373;
}

.link {
  font-size: 22px;
  color: #FF4F2C;
  transition: .3s;
}

.link:hover {
  color: #FFA32C;
  transition: .3s;
}

.portfolio {
  float: left;
  margin-right: 50px;
  margin-top: 100px;
}

.online_portfolio{
  margin-bottom: 200px;
}

.television, .websites {
  width: 50%;
  height: 95%; 
  margin-left: 200px;
  background-color: ;
  margin-top: 80px;

}

p, h2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
 
}
.blog {
  width: 50%;
  height: 95%; 
  margin-left: 200px;
  background-color: ;
  margin-top: 200px;  
}

.work_body {
  width: 80%;
  height: 90%;
  margin-left:;
  padding-bottom: 1000px;
}

.demo_video {
  
}


.side_bar {
  display: inline;
  position: fixed;
  margin-left: 70%;
  margin-top: 20%;
}

.side_item {
  padding-left: 10px;
}

.footer {
  display: inline;
  margin-left: 900px;
}

footer {
    /*border-top: 1px solid black;*/
    padding-top: 100px;
    margin-bottom: 100px;
}

.footer_item {
  display: inline;
  float: ;
  margin: 10px;
  padding-top: 0px;
}















